.styleBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .styleForm {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .styleButton {
    margin-top: 16px;
  }